        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap');
        body {
            margin: 0;
            padding: 0;
            overflow-y: scroll;
        }
        
        h1,
        p {
            font-family: 'Nunito', sans-serif;
        }
        
        #navigation-container {
            width: 1200px;
            margin: 0 auto;
            height: 70px;
        }
        
        .active-nav {
            border-bottom: 2px solid #003399;
        }
        
        .navigation a:hover {
            color: #003399;
        }
        
        .navigation {
            height: 180px;
            width: 100%;
            text-align: center;
        }
        
        .navigation img {
            float: left;
            width: 6%;
            margin-top: 26px;
        }
        
        .navigation ul {
            padding: 0px;
            margin: 0px;
            margin-top: 40px;
            text-align: center;
            display: inline-block;
            vertical-align: top;
        }
        
        .navigation li {
            list-style-type: none;
            padding: 0px;
            height: 24px;
            margin-top: 4px;
            margin-bottom: 4px;
            display: inline;
        }
        
        .navigation li a {
            color: black;
            font-size: 21px;
            font-family: 'Nunito', sans-serif;
            font-weight: 900;
            text-decoration: none;
            line-height: 70px;
            padding: 5px 32px;
        }
        
        .frontpage {
            display: grid;
            grid-template-columns: 1fr 0.7fr;
            font-family: 'Nunito', sans-serif;
            font-weight: 700;
        }
        
        .frontpage img {
            display: block;
            margin: auto;
            width: 91%;
            margin-top: 6%;
            margin-bottom: 10%;
        }
        
        .frontpage p {
            font-size: 16px;
            margin-top: 3%;
            font-weight: 100;
        }
        
        .frontpage>div:nth-child(1) {
            font-size: 70px;
            margin-left: 15%;
            margin-top: 12%;
            width: 65%;
        }
        
        .frontpage-small {
            font-size: 42px;
            font-weight: 500;
        }
        
        .frontpage-foto {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 5%;
            margin-bottom: 5%;
        }
        
        .frontpage-foto img {
            float: left;
            height: 85%;
            object-fit: cover;
            display: block;
            margin: auto;
            width: 85%;
            margin-left: 7%;
            border-radius: 5px;
            opacity: 0.75;
        }
        
        .frontpage-foto img:hover {
            opacity: 1;
            transition: opacity .5s ease-out;
            -moz-transition: opacity .5s ease-out;
            -webkit-transition: opacity .5s ease-out;
            -o-transition: opacity .5s ease-out;
            box-shadow: 6px 6px 10px grey;
        }
        
        .frontpage-foto h2 {
            font-family: 'Nunito', sans-serif;
            font-size: 1.4em;
            margin-left: 7%;
            padding: 1%;
        }
        
        .watisipo {
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: left;
            margin-top: 2%;
        }
        
        .watisipo>div:nth-child(1) {
            padding: 15px;
            margin-left: 18%;
        }
        
        .watisipo>div img {
            display: block;
            margin: auto;
            width: 80%;
            border-radius: 45px;
        }
        
        .watisipo h1 {
            font-size: 63px;
            font-weight: 400;
            color: #e30713;
        }
        
        .watisipo p {
            font-size: 16px;
            color: black;
            font-weight: 100;
        }
        
        .watisipo article h1 {
            color: #e30713;
            margin-top: 3%;
            font-size: 63px;
        }
        
        .watisipo ul li {
            font-family: 'Nunito', sans-serif;
            font-size: 16px;
            font-weight: 200;
            margin-top: 20px;
        }
        
        .wiezijnwe {
            display: block;
            margin: auto;
            width: 60%;
        }
        
        .wiezijnwe h1 {
            text-align: center;
            font-size: 63px;
            font-weight: 500;
            color: #e30713;
            margin-bottom: 10px;
        }
        
        .wiezijnwe p {
            text-align: left;
            font-size: 16px;
            color: black;
            font-weight: 400;
            margin-bottom: 3%;
        }
        
        .fotowiezijnwe {
            display: block;
            margin: auto;
            width: 100%;
            border-radius: 0px;
            margin-bottom: 2.5%;
            opacity: 0.9;
        }
        
        .wiezijnwe div img {
            display: block;
            margin: auto;
            width: 100%;
            margin-top: 10%;
        }
        
        .opleidingen {
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-bottom: 5%;
            grid-gap: 3%;
            margin-top: 5%;
        }
        
        .opleidingen img {
            display: block;
            margin: auto;
            width: 75%;
            border-radius: 5px;
            height: 84%;
            object-fit: cover;
        }
        
        .opleidingen h2 {
            font-family: 'Nunito', sans-serif;
            font-size: 22px;
            margin-left: 13%;
            padding: 1%;
        }
        
        .opleidingen>div:nth-child(1) {
            grid-column: 1/ 3;
        }
        
        .logo {
            object-fit: cover;
            margin: auto;
            width: 50%;
        }
        
        .backgroundleerlijn {
            background-image: url("../images/fase.png");
            background-repeat: no-repeat;
            height: 1000px;
            background-position: center;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        }
        
        .title {
            font-size: 63px;
            font-weight: 400;
            color: #e30713;
            text-align: center;
            margin-bottom: 3%;
        }
        
        .backgroundleerlijn>div:nth-child(1) {
            grid-column: 6/8;
            grid-row: 2/4;
        }
        
        .backgroundleerlijn>div:nth-child(2) {
            grid-column: 2/4;
            grid-row: 4/6;
        }
        
        .backgroundleerlijn>div:nth-child(3) {
            grid-column: 6/8;
            grid-row: 6/8;
        }
        
        .backgroundleerlijn div h2 {
            font-family: 'Nunito', sans-serif;
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 2%;
            color: #e30713;
        }
        
        .backgroundleerlijn div p {
            margin-bottom: 5%;
            font-family: 'Nunito', sans-serif;
            font-size: 22px;
            font-weight: 400;
        }