@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700;900&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    scroll-behavior: smooth;
}


/*navigation bar*/

nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    background-color: white;
    position: sticky;
    z-index: 3;
    font-weight: 700;
    padding-bottom: 20px;
}

nav .mainMenu {
    display: flex;
    list-style: none;
}

nav .mainMenu li a {
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    color: #003399;
    font-size: 20px;
    margin-top: 35px;
}

nav .mainMenu li a:hover {
    border-bottom: 3px solid #003399;
}

nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
    color: #003399;
    margin-top: 20px;
}

nav .mainMenu .closeMenu,
.icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
    color: #003399;
}

nav .logo img {
    margin-left: 95px;
    margin-top: 20px;
    width: 65px
}


/*headhome*/

.headhome {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 60px;
}


/*hometext*/

.hometext {
    display: flex;
    display: block;
    color: #003399;
    margin: 50px;
}

.hometext h3 {
    font-size: 70px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}

.hometext h1 {
    font-size: 42px;
    font-family: 'Nunito', sans-serif;
}

.hometext p {
    margin-bottom: 100px;
    margin-right: 100px;
    font-size: 16px;
}

.hometext a {
    text-decoration: none;
    background-color: #003399;
    border-radius: 50px;
    color: white;
    padding: 20px;
}

.hometext a:hover {
    opacity: 50%;
}

.headhome .animationgifclass img {
    width: 625px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.last article {
    width: 50%;
}

.last h1 {
    font-size: 63px;
    font-weight: 400;
    margin-bottom: 3%;
    font-family: 'Nunito', sans-serif;
}

.last p {
    font-size: 16px;
    font-weight: 100;
}

.last article h1 {
    color: #e30713;
    margin-top: 3%;
    font-size: 63px;
}

.last ul li {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 200;
    margin-top: 20px;
}

.last li {
    margin-left: 3%;
    list-style-type: circle;
}


/*waves2*/

.custom-shape-divider-bottom-1643740696 {
    margin-bottom: -3px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1643740696 svg {
    display: block;
    width: calc(145% + 1.3px);
    height: 147px;
    width: 100%;
}

.custom-shape-divider-bottom-1643740696 .shape-fill {
    fill: #003399;
}


/*info*/

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #003399;
    padding: 60px;
}

.info img {
    width: 600px;
    border-radius: 50px;
}

.infotext {
    text-align: left;
    font-size: 20px;
}

.infotext h1 {
    font-size: 63px;
    margin-bottom: 50px;
    font-family: 'Nunito', sans-serif;
}

.info a {
    text-decoration: none;
    background-color: white;
    border-radius: 50px;
    color: #003399;
    padding: 20px;
}

.info p {
    margin-bottom: 70px;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    margin-right: 145px;
}

.info a:hover {
    opacity: 50%;
}

.info {
    background-color: #003399;
}

.ordre {
    display: flex;
}


/*waves3*/

.custom-shape-divider-top-1643740900 {
    margin-top: -3px;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1643740900 svg {
    display: block;
    width: calc(145% + 1.3px);
    height: 147px;
}

.custom-shape-divider-top-1643740900 .shape-fill {
    fill: #003399;
}


/*backgroundleerlijn*/

.backgroundleerlijn {
    background-image: url("../images/fase.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 3%;
}

.title {
    font-size: 63px;
    font-weight: 400;
    color: #e30713;
    text-align: center;
    margin-bottom: 3%;
    font-family: 'Nunito', sans-serif;
}

.backgroundleerlijn>div:nth-child(1) {
    grid-column: 6/8;
    grid-row: 2/4;
}

.backgroundleerlijn>div:nth-child(2) {
    grid-column: 2/4;
    grid-row: 4/6;
}

.backgroundleerlijn>div:nth-child(3) {
    grid-column: 6/8;
    grid-row: 6/8;
}

.backgroundleerlijn div h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    font-weight: 00;
    margin-bottom: 2%;
    color: #e30713;
}

.backgroundleerlijn div p {
    margin-bottom: 5%;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.backgroundleerlijn div ul li p {
    list-style-type: circle;
    margin-bottom: 2%;
}

.backgroundleerlijn div ul li {
    list-style-type: circle;
    margin-left: 4%;
}

.backgroundleerlijn div img {
    width: 80%;
    border-radius: 15px;
}

.backgroundleerlijn div:nth-child(4) {
    grid-column: 1/5;
    grid-row: 1/4;
    margin-left: 10%;
}

.backgroundleerlijn div:nth-child(5) {
    grid-column: 6/9;
    grid-row: 4/6;
    margin-left: 10%;
}

.backgroundleerlijn div:nth-child(6) {
    grid-column: 1/5;
    grid-row: 6/9;
    margin-left: 10%;
}


/*wavepermanent*/

.custom-shape-divider-bottom-1643746949 {
    margin-bottom: -1px;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1643746949 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 147px;
}

.custom-shape-divider-bottom-1643746949 .shape-fill {
    fill: #E30713;
}


/*secondlast*/

.slider {
    background-color: #E30713;
}


/*scrollslider*/

.homephotos {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.homephotostext {
    color: white;
    text-align: left;
    padding-right: 50px;
}

.homephotostext p {
    margin-bottom: 50px;
    font-size: 16px;
}

.homephotostext h1 {
    text-align: left;
    font-size: 63px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
}

.homephotostext a {
    text-decoration: none;
    background-color: white;
    border-radius: 50px;
    color: #E30713;
    padding: 20px;
}

.homephotostext a:hover {
    opacity: 50%;
}


/* Slideshow container */

.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
    z-index: 1;
}


/* Caption text */

.text {
    color: #003399;
    font-size: 20px;
    padding: 8px 12px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: left;
    background-color: white;
    opacity: 1;
}


/*wavepermanent*/

.custom-shape-divider-top-1643746895 {
    margin-top: -1px;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-top-1643746895 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    height: 147px;
}

.custom-shape-divider-top-1643746895 .shape-fill {
    fill: #E30713;
}

.opleidingen {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15%;
    grid-gap: 1%;
    margin-top: 5%;
}

.opleidingen img {
    display: block;
    margin: auto;
    width: 59%;
    border-radius: 5px;
    height: 84%;
    object-fit: cover;
}

.opleidingen h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    margin-left: 20%;
    padding: 1%;
}

.logo h1 {
    text-align: center;
    font-size: 2em;
    color: #003399;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
}

.logo div {
    text-align: center;
    margin: 15px;
}


/*footer*/

.footer-distributed {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}


/* Footer left */

.footer-distributed .footer-left {
    width: 40%;
}


/* The company logo */

.footer-distributed h3 {
    color: #003399;
    margin: 0;
}

.footer-distributed h3 span {
    color: #003399;
}


/* Footer links */

.footer-distributed .footer-links {
    color: #003399;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    font-weight: 400;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #003399;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}


/* Footer Center */

.footer-distributed .logos img {
    width: 200px;
}

.footer-distributed .logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #003399;
    color: WHITE;
    font-size: 20px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: #003399;
    font-weight: 400;
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color: #003399;
    text-decoration: none;
    ;
}

.footer-distributed .footer-links a:before {
    content: "|";
    font-weight: 300;
    font-size: 20px;
    left: 0;
    color: #003399;
    display: inline-block;
    padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
    content: none;
}


/* Footer Right */

.footer-distributed .footer-right {
    width: 20%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about {
    display: block;
    color: #003399;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #003399;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #003399;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: left;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}


/*slideshow*/

.mySlides {
    text-align: center;
}

img {
    vertical-align: middle;
    border-radius: 15px;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.text {
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 36px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    margin: auto;
    width: 75%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.356);
    margin-left: 11%;
    border-radius: 25px;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    display: none;
}

.active {
    background-color: #ffffff;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}